{% load i18n %}

<ul class="changelist-filter ml-1 mb-2 mt-2 flex gap-x-8 pl-0">
  <li>
    <a href="{% url changelist_url %}" class="text-blue-600 hover:text-blue-800 text-lg font-medium rounded-lg">
      {% trans "Все" %}
    </a>
  </li>
  {% for spot in spots %}
    <li>
      <a href="{% url changelist_url %}?{{ filter_key }}={{ spot.id }}"
         class="text-lg font-medium hover:bg-blue-100 hover:text-blue-600 rounded-lg">
        {{ spot.name }}
      </a>
    </li>
  {% endfor %}
</ul>
