{#{% extends "unfold/layouts/base.html" %}#}
{##}
{#{% block content %}#}
{#<div class="container_qr">#}
{#    <div class="qr-generator">#}
{#        <h1 class="qr_title">Генератор QR-кодов</h1>#}
{#        <input type="text" id="qrText" placeholder="Введите текст или URL">#}
{#        <button id="generateBtn">Сгенерировать QR-код</button>#}
{#        <br><br>#}
{#        <a id="downloadLink" style="display:none;"></a>#}
{##}
{#        <div id="qrcode" class="qr-code"></div>#}
{#    </div>#}
{#</div>#}
{##}
{#<style>#}
{#    .container_qr {#}
{#        display: flex;#}
{#        justify-content: center;#}
{#        align-items: center;#}
{#        height: 60vh;#}
{#    }#}
{##}
{#    .qr-generator {#}
{#        padding: 20px;#}
{#        border-radius: 8px;#}
{#        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);#}
{#        text-align: center;#}
{#        width: 500px;#}
{#    }#}
{##}
{#    .qr_title {#}
{#        margin-bottom: 20px;#}
{#        font-size: 1.5rem;#}
{#    }#}
{##}
{#    input {#}
{#        width: 100%;#}
{#        padding: 10px;#}
{#        margin-bottom: 15px;#}
{#        border: 1px solid;#}
{#        border-radius: 4px;#}
{#        font-size: 1rem;#}
{#        color: black;#}
{#    }#}
{##}
{#    button {#}
{#        width: 100%;#}
{#        padding: 10px;#}
{#        background-color: #007bff;#}
{#        color: black;#}
{#        border: none;#}
{#        border-radius: 4px;#}
{#        cursor: pointer;#}
{#        font-size: 1rem;#}
{#    }#}
{##}
{#    button:hover {#}
{#        background-color: #0056b3;#}
{#    }#}
{##}
{#    .qr-code {#}
{#        margin-top: 20px;#}
{#    }#}
{##}
{#    .qr-code img {#}
{#        margin: 0 auto;#}
{#    }#}
{#</style>#}
{##}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>#}
{#<script>#}
{#    document.getElementById('generateBtn').addEventListener('click', function() {#}
{#        var qrText = document.getElementById('qrText').value;#}
{#        var qrCodeContainer = document.getElementById('qrcode');#}
{#        var downloadLink = document.getElementById('downloadLink');#}
{##}
{#        qrCodeContainer.innerHTML = '';#}
{##}
{#        var qrcode = new QRCode(qrCodeContainer, {#}
{#            text: qrText,#}
{#            width: 200,#}
{#            height: 200#}
{#        });#}
{##}
{#        setTimeout(function() {#}
{#            var qrImage = qrCodeContainer.querySelector('img').src;#}
{##}
{#            downloadLink.href = qrImage;#}
{#            downloadLink.download = 'qrcode.png';#}
{#            downloadLink.textContent = 'Скачать QR-код';#}
{#            downloadLink.style.display = 'inline';#}
{#        }, 300);#}
{#    });#}
{#</script>#}
{#{% endblock %}#}
