{% extends 'unfold/layouts/base_simple.html' %}

{% load cache unfold i18n %}

{% block breadcrumbs %}{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <!-- ChartDataLabels -->
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      if (window.Chart && window.ChartDataLabels) {
        Chart.register(window.ChartDataLabels);
      } else {
        console.error("ChartDataLabels не найден!");
      }
    });
  </script>
{% endblock %}

{% block title %}
    {% if subtitle %}
        {{ subtitle }} |
    {% endif %}

    {{ title }} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <a href="{% url 'admin:index' %}">
            {{ site_header|default:_('Django administration') }}
        </a>
    </h1>
{% endblock %}

{% block content %}
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-4 mb-6">
        {% for card in summary_cards %}
            <div class="flex-shrink-0">
                <div class="h-40 flex flex-col justify-center">
                    {% component "unfold/components/card.html" %}
                        {% component "unfold/components/text.html" with class="text-sm text-gray-600 dark:text-gray-400" %}
                            {{ card.title }}
                        {% endcomponent %}
                        {% component "unfold/components/title.html" with class="text-2xl font-bold mt-1 text-blue-300 dark:text-blue-400" %}
                            {{ card.count }} {{ card.subtitle }}
                        {% endcomponent %}
                    {% endcomponent %}
                </div>
            </div>
        {% endfor %}
    </div>

    {% component "unfold/components/container.html" %}
        <div class="flex flex-col gap-8 mb-12">
            {% component "unfold/components/flex.html" with class="gap-8 mb-8 flex-col lg:flex-row" %}
                {% component "unfold/components/card.html" %}
                    {% component "unfold/components/text.html" %}
                        {{ orders_performance_bar.title }}
                    {% endcomponent %}

                    {% component "unfold/components/title.html" with class="mb-8" %}
                        {{ orders_performance_bar.metric }}
                    {% endcomponent %}

                    {% component "unfold/components/chart/bar.html" with data=orders_performance_bar.chart options=orders_performance_bar.options %}{% endcomponent %}
                {% endcomponent %}
            {% endcomponent %}
        </div>
    {% endcomponent %}
{% endblock %}
