{% extends 'admin/base_password_reset.html' %}
{% load static %}

{% block content %}
    <h1>
      <span class="welcome-text">Сброс пароля</span>
    </h1>

    <p>
      Введите свой номер телефона, и мы отправим вам код подтверждения для сброса пароля.
    </p>

    <form method="post" action="{% url 'admin_password_reset' %}" id="reset-password-form">
         {% csrf_token %}
      <div class="form-group">
        <label for="phone">Номер телефона</label>
        <div class="input-wrapper">
          <input type="tel" name="phone" id="phone" required placeholder="+996">
        </div>
      </div>

      <div class="submit-row">
        <button type="submit" class="btn btn-primary">
          Отправить код подтверждения
          <span class="btn-icon material-icons">arrow_forward</span>
        </button>
      </div>
    </form>

    <div class="back-to-login">
      <a href="login.html" class="" style="text-decoration: none">
          <button type="submit" class="btn btn-secondary">
               Назад ко входу
          </button>
      </a>
    </div>
{% endblock %}
