{% extends 'admin/base_password_reset.html' %}
{% load static %}

{% block content %}
  <h1>
    <span class="welcome-text">Установите новый пароль</span>
  </h1>

  <p>
    Пожалуйста, введите новый пароль дважды для подтверждения.
  </p>

  <form method="post" id="reset-password-form">
    {% csrf_token %}

    <div class="form-group">
      <label for="{{ form.password1.id_for_label }}">Новый пароль</label>
      <div class="input-wrapper">
        {{ form.password1 }}
      </div>
    </div>

    <div class="form-group">
      <label for="{{ form.password2.id_for_label }}">Подтвердите пароль</label>
      <div class="input-wrapper">
        {{ form.password2 }}
      </div>
    </div>

    <div class="submit-row">
      <button type="submit" class="btn btn-primary">
        Сбросить пароль
        <span class="btn-icon material-icons">arrow_forward</span>
      </button>
    </div>
  </form>


{# <div class="back-to-login">#}
{#  <a href="login.html" class="" style="text-decoration: none">#}
{#      <button type="submit" class="btn btn-secondary">#}
{#           Назад к вводу кода#}
{#      </button>#}
{#  </a>#}
{#</div>#}
{% endblock %}
